#file to be ignored
.env
.pyc
.cpython-36.pyc
*.pyc
*~
*.swp
.idea
Report/
DAXQueries/
Temp/

# Ignore the environment folder
.venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore other files or directories
.DS_Store
*.log