# fly.toml app configuration file generated for autodocpbi on 2024-06-22T15:50:14-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'autodocpbi'
primary_region = 'gru'

[build]
  dockerfile = "Dockerfile_AutoDoc"

[http_service]
  internal_port = 8501
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 4
